/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lato", sans-serif;
}
/* shared styles start */
.btn-primary{
    border-radius: 8px;
    background: rgb(229, 84, 115);
    padding: 15px 30px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/* shared styles end */

/* banner container styles start */
.banner-container{
    margin: 0 auto;
    max-width: 1920px;
    max-height: 850px;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 175px;
}
.banner-content{
    display: flex;
    justify-content: space-between;
    padding: 50px 240px 0 240px;
}
.banner-text{
    width: 708px;
    height: 506px;
    margin-top: 170px;
}
.banner-text h1{
    color: rgb(39, 39, 39);
    font-size: 78px;
    font-weight: 800;
    margin-bottom: 30px;
}
.banner-text p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 30px;
}
/* banner container styles end */

/* second section styles start */
.feature-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.f-text-content{
    text-align: center;
}
.f-text-content h2{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.f-text-content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4rem;
}
.card-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card-content1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card-content2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-content3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.f-name {
    display: flex;
    justify-content: space-around;
}
.f-name a{
    color: black;
    font-size: 1rem;
    font-weight: 600;
}
/* second section styles end */


/* service section styles start */
.service-container{
    width: 1440px;
    height: 320px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 125px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service-container div{
    text-align: center;
}
.service-container div img{
    margin-bottom: 15px;
}
/* service section styles end */

/* discount section styles start */
.discount-container{
    max-width: 1920px;
    height: 620px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discount-text-content{
    width: 550px;
    text-align: center;
    margin-right: 150px;
}
.discount-text-content h2{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 15px;
}
.discount-text-content p{
    font-size: 1rem;
    font-weight: 450;
    margin-bottom: 15px;
    line-height: 25px;
}
.span{
    color: rgb(229, 84, 115);
}
/* discount section styles end */

/* instagram section styles start */
.instagram-container{
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 125px;
}
.instagram-container h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.instagram-container p{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 45px;
}
.flower-card{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}
/* instagram section styles end */

/* latest deals section styles start */
.deals-container{
    max-width: 1440px;
    height: 450px;
    margin: 0 auto;
    background-image: url('../images/latest-deals-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 125px;
    border-radius: 8px;
}
.deals-text-content{
    padding: 120px 285px;
    text-align: center;
    align-items: center;
}
.deals-text-content h2{
    font-size: 2.3rem;
    font-weight: 800;
    margin-bottom: 15px;
}
.deals-text-content p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 35px;
}
.deals-text-content  input{
    padding: 18px 420px 18px 15px;
    border: none;
    border-radius: 8px;
    color: rgba(39, 39, 39, 0.6);
    margin-right: 15px;
}
/* latest deals section styles end */










/* mobile resposive */
@media screen and (max-width: 576px) {
    .banner-container{
        max-width: 100%;
    }
    .banner-content{
        padding: 20px ;
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-text{
        margin: 0;
        width: 321px;
        height: 100%;
    }
    .banner-text h1{
        font-size: 35px;
    }
    .banner-text p{
        font-size: 18px;
        text-align: justify;
    }
    .banner-image{
        text-align: center;
        margin-top: 0;
    }
    .banner-text{
        margin-bottom: 0;
    }
    .b-img{
        max-height: 300px;
    }
    
    /* featured section */
    .feature-container{
        max-width: 100%;
    }
    .f-text-content{
        text-align: center;
        
    }
    .card-container{
        flex-direction: column;
        
    }
    .f-name{
        flex-direction: column;
    }



}














